
RewriteEngine on

DirectoryIndex rocketsweb.php

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^.*$ rocketsweb.php?q=$0 [L,NC,QSA]

<Files ~ "\.(ini|log)$">

deny from all

</Files>

Options -Indexes